@page
@model WerkbonAppTest3.Pages.Losadressen.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Losadres</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Losadres.Straat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Losadres.Straat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Losadres.Postcode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Losadres.Postcode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Losadres.Plaats)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Losadres.Plaats)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Losadres.Etage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Losadres.Etage)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Losadres.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
