@page
@model WerkbonAppTest3.Pages.Ongelukken.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ongeluk</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ongeluk.Schade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ongeluk.Schade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ongeluk.Besproken)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ongeluk.Besproken)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ongeluk.Kostenplaats)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ongeluk.Kostenplaats)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ongeluk.Klant)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ongeluk.Klant.Naam)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Ongeluk.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
