@page
@model WerkbonAppTest3.Pages.Ongelukken.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ongeluk[0].Schade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ongeluk[0].Besproken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ongeluk[0].Kostenplaats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ongeluk[0].Klant)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Ongeluk) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Schade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Besproken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kostenplaats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Klant.Naam)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
