@page "{searchString?}"
@model WerkbonApplicatie.Pages.Werkbonnen.IndexModel

@{
    ViewData["Title"] = "Werkbon overzicht";
}
<div class="text-center">
    <h1 class="display-4">Werkbon Overzicht</h1>
    <hr />
</div>

<ul class="nav">
    <li class="nav-item">
            <a asp-page="Create" class="btn green mr-2">Toevoegen +</a>
    </li>
    <li class="nav-item">
        <form class="form-inline">
            <input class="form-control" type="search" asp-for="SearchString" placeholder="Klant, telefoonnummer, datum">
            <button class="btn green" type="submit">Zoeken</button>
        </form>
    </li>
</ul>
<p></p>
<div class="row">
    @foreach (var item in Model.Werkbon)
    {
        <div class="col-md-3">
            <div class="card border-green shadow">
                <div class="card-header text-white green"> #@Html.DisplayFor(modelItem => item.WerkbonID) -  @Html.DisplayFor(modelItem => item.Klant_Naam)</div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted"> @Html.DisplayFor(modelItem => item.Datum) @Html.DisplayFor(modelItem => item.Aanvangstijd)</h6>
                    <p class="card-text">Naam: @Html.DisplayFor(modelItem => item.Voornaam) @Html.DisplayFor(modelItem => item.Achternaam) <br />Telefoon: @Html.DisplayFor(modelItem => item.Telefoonnummer) <br /> Bedrag: @Html.DisplayFor(modelItem => item.Bedrag)<p>
                        <hr />
                        <div class="btn-group flex-wrap" role="group">
                            <a asp-page="./Details" asp-route-id="@item.WerkbonID" class="btn green-outline btn-sm">Details</a>
                            <a asp-page="./Edit" asp-route-id="@item.WerkbonID" class="btn green-outline btn-sm">Bijwerken</a>
                            <a asp-page="./Delete" asp-route-id="@item.WerkbonID" class="btn green-outline btn-sm">Verwijder</a>
                        </div>
                </div>
            </div>
        </div>
    }
</div>

