@page
@model WerkbonApplicatie.Pages.Klanten.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Klant</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Klant.Klant_Naam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Klant.Klant_Naam)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Klant.Voornaam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Klant.Voornaam)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Klant.Achternaam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Klant.Achternaam)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Klant.Telefoonnummer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Klant.Telefoonnummer)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Klant.KlantID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
