@page
@model WerkbonAppTest3.Pages.Klanten.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Klant</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Klant.Naam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Klant.Naam)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Klant.Datum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Klant.Datum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Klant.Contactpersoon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Klant.Contactpersoon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Klant.Rekening)
        </dt>
        <dd class="col-sm-10">
            <p class="euro">€</p>@Html.DisplayFor(model => model.Klant.Rekening.Bedrag)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Klant.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
