@page
@model WerkbonApplicatie.Pages.Klanten.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Klanten Overzicht</h1>
    <hr />
</div>

<ul class="nav">
    <li class="nav-item">
        <a asp-page="Create" class="btn green mr-2">Toevoegen +</a>
    </li>
</ul>
<p></p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Klant[0].Klant_Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Klant[0].Voornaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Klant[0].Achternaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Klant[0].Telefoonnummer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Klant)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Klant_Naam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Voornaam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Achternaam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefoonnummer)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.KlantID">Bijwerken</a> |
                    <a asp-page="./Details" asp-route-id="@item.KlantID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.KlantID">Verwijderen</a>
                </td>
            </tr>
        }
    </tbody>
</table>
