@page
@model WerkbonApplicatie.Pages.Verhuizingen.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Verhuizing</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.Datum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.Datum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.Inpakken)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.Inpakken)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.Uitpakken)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.Uitpakken)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.Montage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.Montage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.Demontage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.Demontage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.Laden)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.Laden)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.Lossen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.Lossen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.Ophangen_Lamp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.Ophangen_Lamp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.Afhalen_Lamp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.Afhalen_Lamp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.Aansluiten_Witgoed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.Aansluiten_Witgoed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.Afsluiten_Witgoed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.Afsluiten_Witgoed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.Intern_Transport)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.Intern_Transport)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.Schade_Veroorzaakt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.Schade_Veroorzaakt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.Schade_Besproken)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.Schade_Besproken)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.Schade_Beschrijving)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.Schade_Beschrijving)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.Kenteken)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.Kenteken)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.Aanvangstijd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.Aanvangstijd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.Volume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.Volume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.Merk_Kraan)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.Merk_Kraan)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.Traploper)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.Traploper)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.Rolsteiger)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.Rolsteiger)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.Drempelplaat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.Drempelplaat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.Groot_Volume_Bak)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.Groot_Volume_Bak)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.Wasmachinebeugel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.Wasmachinebeugel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.Noppenfolie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.Noppenfolie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.Eenpersoons_Matrashoes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.Eenpersoons_Matrashoes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.Tweepersoons_Matrashoes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.Tweepersoons_Matrashoes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.Barrel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.Barrel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.Handymankoffers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.Handymankoffers)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.Extra_Materiaal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.Extra_Materiaal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.Vertrekuur_Zaak)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.Vertrekuur_Zaak)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.Inpakken_Manuren)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.Inpakken_Manuren)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.Uitpakken_Manuren)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.Uitpakken_Manuren)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.Montage_Manuren)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.Montage_Manuren)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.Demontage_Manuren)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.Demontage_Manuren)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.Aantal_Geladen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.Aantal_Geladen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.Starttijd_Laden)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.Starttijd_Laden)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.Eindtijd_Laden)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.Eindtijd_Laden)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.Laaduur_Totaal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.Laaduur_Totaal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.Aantal_Gelost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.Aantal_Gelost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.Starttijd_Lossen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.Starttijd_Lossen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.Eindtijd_Lossen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.Eindtijd_Lossen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.Losuur_Totaal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.Losuur_Totaal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.Aankomsttijd_Zaak)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.Aankomsttijd_Zaak)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.Betaling)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.Betaling)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.Betaalwijze)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.Betaalwijze)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.KostenPlaats)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.KostenPlaats)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verhuizing.Klant)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verhuizing.Klant.Klant_Naam)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Verhuizing.VerhuizingID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
