@page
@model WerkbonAppTest3.Pages.Medewerkers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Medewerker</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medewerker.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medewerker.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medewerker.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medewerker.Password)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Medewerker.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
