@page
@model WerkbonApplicatie.Pages.Personeels.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Personeel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Personeel.Pesoneel_VoorNaam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Personeel.Pesoneel_VoorNaam)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Personeel.Personeel_Achternaam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Personeel.Personeel_Achternaam)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit"class="btn green mr-2" asp-route-id="@Model.Personeel.PersoneelID">Bijwerken</a> |
    <a asp-page="./Index"class="btn green mr-2">Terug naar lijst</a>
</div>
