@page
@model WerkbonApplicatie.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Personeel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Personeel.Personeel_Voornaam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Personeel.Personeel_Voornaam)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Personeel.Personeel_Achternaam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Personeel.Personeel_Achternaam)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Personeel.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Personeel.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Personeel.Functie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Personeel.Functie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Personeel.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Personeel.Username)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Personeel.PersoneelID">Bijwerken</a> |
    <a asp-page="./Index">Terug naar overzicht</a>
</div>
